h1 {
  font-family: 'Disney';
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.userAvatar {
  height: 3rem;
}

.login {
  text-align: right;
}

@font-face {font-family: "Disney"; src: url('http://static.tumblr.com/npggxjg/VdAlzs1dx/disney.otf');}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.image-container{
  height: 17rem;
}

section {
  margin-top: 1%;
}

.menu {
  height: 17rem;
}

.menuButton {
  margin-top: 4%;
  margin-bottom: 4%;
  width: 105%;
  padding: 0;
}

.menuDisplay{
  height: 100%;
  overflow: scroll;
}

.menuDisplay::-webkit-scrollbar {
    -webkit-appearance: none;
}

.menuDisplay::-webkit-scrollbar:vertical {
    width: 11px;
}

.menuDisplay::-webkit-scrollbar:horizontal {
    height: 11px;
}

.menuDisplay::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.menuDisplay::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}
