.loader{
  width: 100%;
}

span.disney {
  font-family: 'Disney';
}

span.openBooked {
  font-family: 'Acme', sans-serif;
}

h4, h5 {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Oxygen', sans-serif;
}

div {
  font-family: 'Oxygen', sans-serif;
}

@font-face {font-family: "Disney"; src: url('https://static.tumblr.com/npggxjg/VdAlzs1dx/disney.otf');}

.logButton {
  background-color: #004460;
  font-family: 'Raleway', sans-serif;
}

.submitButton {
  background-color: #004460;
  font-family: 'Raleway', sans-serif;
}

.menuButton {
  background-color: #004460;
  font-family: 'Raleway', sans-serif;
}

.destroy {
  background-color: #004460;
  font-family: 'Raleway', sans-serif;
}

.commentCard {
  margin-top: 1%;
  height: 4rem;
}

.commentDisplay {
  margin-top: 1%;
  margin-bottom: 5%;
}

.pastComments {
  height: 100%;
  overflow: scroll;
}

.pastComments::-webkit-scrollbar {
    -webkit-appearance: none;
}

.pastComments::-webkit-scrollbar:vertical {
    width: 11px;
}

.pastComments::-webkit-scrollbar:horizontal {
    height: 11px;
}

.pastComments::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.pastComments::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}

.App-header {
  background: url(https://s-media-cache-ak0.pinimg.com/originals/81/32/6f/81326f2a25b300229bc1f7f02c0d5acd.jpg);
  background-size: 100%;
  height: 150px;
  padding: 20px;
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.userAvatar {
  height: 3rem;
}

.login {
  text-align: right;
}

.image-container{
  height: 18rem;
}

section {
  margin-top: 1%;
}

.menu {
  height: 17rem;
}

.menuButton {
  margin-top: 4%;
  margin-bottom: 4%;
  width: 105%;
  padding: 0;
}

.menuDisplay{
  height: 100%;
  overflow: scroll;
}

.menuDisplay::-webkit-scrollbar {
    -webkit-appearance: none;
}

.menuDisplay::-webkit-scrollbar:vertical {
    width: 11px;
}

.menuDisplay::-webkit-scrollbar:horizontal {
    height: 11px;
}

.menuDisplay::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.menuDisplay::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}
